*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
    font-size: 62.5%;
    

    --standardWhite: #fff;
    --mainPurple: #4043ee;
    --secondPurple: #4d09ec;
    --mainBlue: #22D3EE;
    --success: #22C55E;
    --alert: #F59E08;
    --error: #EF4444;
    --color500: #5d6c81;
    --color600: #374151;
    --color700: #1F2937;
    --color800: #111827;
    --color900: #0B0F19;
}

