.header{
    width:100%;
    position:sticky;
    top:0;
    left:0;
    z-index:1000;
    background: var(--color900);
    color: var(--standardWhite);
    box-shadow:0 2px 15px rgba(0,0,0,.08);
}

.headBar{
    width: 96%;
    margin:auto;
    padding:1.8rem 2.4rem;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo{
    height:45px;
}

.navList{
    display:flex;
    gap:4rem;
    list-style:none;
    font-size: 4rem;
}

.navListItem a{
    color: var(--standardWhite);
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.navListItem a:hover{
    border-bottom: 2px solid var(--mainPurple);
}

.hamburger{
    display:none;
    width:4rem;
    height:4rem;
    border:none;
    background:none;
    cursor:pointer;
    padding:0;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:0.6rem;
}

.hamburger span{
    width:2.8rem;
    height:0.3rem;
    background: var(--color900);
    border-radius:1rem;
    transition:.3s;
}

.heroBanner{
    background-color: var(--color900);
    position: relative;
    overflow: hidden;
    min-height: 20rem;
}

.heroBanner::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
}

.heroBannerContent{
    position: absolute;
    left: 6%;
    top: 20%;
    z-index: 2;
    max-width: 50%;
}

.heroBannerTitle{
    text-transform: uppercase;
    font-weight: 700;
    color: var(--standardWhite);
    font-size: clamp(1rem, 3.5dvw, 5rem);   
}

.heroBannerTitle span{
    font-size: clamp(1rem, 3.5dvw, 5rem);
    color: var(--mainPurple);
}

.heroBannerImg{
    width: 100%;
    height: 100%;
}

.heroBannerImg img{
    display: block;
    width: 65%;
    margin-left: auto;
}

.heroButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mainButton, .secondaryButton{
    min-width: fit-content;
    font-size: clamp(1rem, 3dvw, 1.6rem);
    padding: clamp(1rem, 2dvw, 2rem) clamp(2rem, 2dvw, 3rem);
    color: var(--standardWhite);
    background-color: var(--mainPurple);
    border: none;
    border-radius: 0.4rem;
    margin: 2rem 1rem;
    text-decoration: none;
}

.mainButton:hover, .secondaryButton:hover{
    background-color: var(--secondPurple);
}

.solutionSection{
    padding: 3rem 0;
    background-color: var(--color900);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solutionTitle{
    color: var(--standardWhite);
    margin: 3rem;
    font-size: 3rem;
    text-align: center;
}

.solutionListHolder{
    color: var(--standardWhite);
}

.solutionList{
    width: 98%;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}

.solutionItem{
    width: 25%;
    max-width: 35rem;
    text-align: center;
    border: 2px solid var(--standardWhite);
    padding: 2rem;
    border-radius: 16px;
    background-color: var(--color800);
}

.itemTitle{
    font-size: 2rem;
    margin: 1rem 0.6rem;
}

.itemtext{
    font-size: 1.6rem;
    color: var(--color600)
}

.aboutUs{
    padding: 2rem 0;
    background-color: var(--color900);
    position: relative;
    overflow: hidden;
}


/*<!---------------------- MOBILE ----------------------->*/

@media(max-width:768px){

    .hamburger{
        display:flex;
    }

    .hamburger span{
        background-color: var(--standardWhite);
    }

    .headNav{
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        background: var(--standardWhite);
        max-height:0;
        overflow:hidden;
        transition:max-height .35s ease;
        box-shadow:0 8px 20px rgba(0,0,0,.08);
    }

    .headNav.active{
        max-height: 100rem;
    }

    .navList{
        background-color: var(--color900);
        flex-direction:column;
        gap:0;
        padding:1.6rem 0;
    }

    .navListItem{
        width:100%;
    }

    .navListItem a{
        display:block;
        padding:1.6rem 2.4rem;
    }

    .hamburger.active span:nth-child(1){
    transform:translateY(9px) rotate(45deg);
    }

    .hamburger.active span:nth-child(2){
        opacity:0;
    }

    .hamburger.active span:nth-child(3){
        transform:translateY(-9px) rotate(-45deg);
    }

    .heroBannerContent{
        text-align: center;
        max-width: 100%;
        top: 25%;
        left: 0;
    }

    .heroBannerTitle{
        max-width: 100%;
    }

    .heroBannerTitle span{
        font-size: clamp(1rem, 3.5dvw, 5rem);
        color: var(--mainPurple);
    }

    .heroButtons{
        justify-content: center;
    }

    .heroBannerImg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heroBannerImg img{
        display: block;
        width: 100%;
    }

    .heroBanner::before{
        background: rgba(0, 0, 0, .5);
    }

    .solutionList{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 3rem;
    }

    .solutionItem{
        width: 80%;
        margin: auto;
        max-width: 40rem;
    }

    .aboutUsHolder::before{
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, .6);
        z-index: 1;
    }

    .aboutUsBanner{
        width: 100%;
    }

    .aboutUsBanner img{
        width: 100%;
    }

    .aboutUs{
        max-height: 40rem;
    }

    .aboutUsContent{
        color: var(--standardWhite);
        position: absolute;
        top: 15%;
        left: 5%;
    }

    .aboutUsTitle{
        position: relative;
        font-size: 1.4rem;
        z-index: 2;
        color: var(--mainPurple);
        margin-bottom: 2rem;
    }

    .aboutUsSubtitle{
        margin: auto;
        font-size: clamp(2rem, 7dvw, 4rem);
        position: relative;
        z-index: 2;
        max-width: 90%;
    }

    .aboutUsText{
        color: var(--color500);
        margin: calc(5dvw) auto;
        position: relative;
        z-index: 2;
        font-size: clamp(1rem, 3dvw, 2rem);
        width: 90%;
    }

}

@media (min-width: 769px) and (max-width:1279px){
    .solutionList{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr); 
    }

    .solutionItem{
        width: 100%;
    }
}